@using WebUI.Areas.Admin.Models.Common
@using WebUI.Areas.Admin.Models.CourseBoxVM
@model CourseBoxCreateViewModel
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminContent.cshtml";

	Html.EnableClientValidation(false);
}
@section head {
	<!-- date-range-picker -->
	<link href="/assets/libs/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
	<link href="/assets/libs/zui/dist/css/zui.min.css" rel="stylesheet" />
	<link href="/assets/libs/zui/dist/lib/uploader/zui.uploader.css" rel="stylesheet" />
}
@section body {
	<!-- date-range-picker -->
	<script src="/assets/libs/AdminLTE/bower_components/moment/min/moment.min.js"></script>
	<script src="/assets/libs/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="/assets/libs/zui/dist/js/zui.min.js"></script>
	<script src="/assets/libs/zui/dist/lib/uploader/zui.uploader.min.js"></script>
	<script>

		function showMessage(message, type) {
			$("#js-message").fadeIn();
			switch (type) {
				case -1:
					$("#js-message").attr("class", "alert alert-danger").find(".message").html(message);
					break;
				case 1:
					$("#js-message").attr("class", "alert alert-success").find(".message").html(message);
					break;
			}
			// 3s 后隐藏
			setTimeout(function () {
				$("#js-message").fadeOut("slow");
			}, 3000);
		}

		function onSuccess(data) {
			if (data.code <= 0) {
				showMessage(data.message, -1);
			} else {
				showMessage(data.message + "，准备跳转...", 1);
				setTimeout(function () {
					window.location.href = "@Url.Action("Index", new { area = "Admin" })";
				}, 1000);
			}
			$("#js-btn-save").val("保存").removeAttr("disabled");
		}

		function saveData() {
			$("#js-btn-save").val("保存中").attr("disabled", "disabled");
			$.ajax({
				url: "/Admin/CourseBox/Create",
				type: "post",
				dataType: "json",
				data: $("#js-form").serialize(),
				success: onSuccess
			});
			return false;
		}

		$(function () {
			// Date range picker
			$('#js-start-end-time').daterangepicker();

			$('#js-start-end-time').on('change', function () {
				var $this = $(this);
				var startAndEndTime = $this.val().split('-');
				console.log(startAndEndTime);
				$('#StartTime').val(startAndEndTime[0].trim());
				$('#EndTime').val(startAndEndTime[1].trim());
			});

			$('#pic-uploader-area').uploader({
				autoUpload: true,            // 当选择文件后立即自动进行上传操作
				url: '/Admin/CourseBox/UploadPic',  // 文件上传提交地址
				filters: {
					// 只允许上传图片
					mime_types: [
						{ title: '图片', extensions: 'jpg,gif,png' }
					],
					// 最大上传文件为 10MB
					max_file_size: '10mb',
					// 不允许上传重复文件
					prevent_duplicates: false,
				},
				chunk_size: 0, // 关闭分片上传
				multi_selection: false,
				responseHandler: function (responseObject, file) {
					var res = JSON.parse(responseObject.response);
					if (res.result == "ok") {
						$("#PicUrl").val(res.url);
					}
				}
			});
		});

	</script>
}

<!-- start 提示框 -->
@Html.Partial("_MessagePartial")
<!-- end 提示框 -->
<!-- general form elements -->
<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">创建</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form id="js-form">
		<div class="box-body">
			<div class="form-group">
				<label>课程名</label>
				@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
			</div>
			<div class="form-group">
				<label for="InputEmail">课程描述</label>
				@Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "请输入课程描述", type = "email" })
			</div>
			<div class="form-group" style="display: none;">
				@Html.Hidden("StartTime", Model.StartTime.ToString("yyyy-MM-dd"))
			</div>
			<div class="form-group" style="display: none;">
				@Html.Hidden("EndTime", Model.EndTime.ToString("yyyy-MM-dd"))
			</div>
			<div class="form-group" style="display: none;">
				@Html.HiddenFor(m => m.PicUrl)
			</div>
			<div class="form-group">
				<label>开始时间 - 截止时间</label>
				<div class="input-group">
					<div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</div>
					<input id="js-start-end-time" type="text" class="form-control pull-right">
				</div>
			</div>
			<div class="form-group">
				<label>课程封面图</label>
				<div id="pic-uploader-area" class="uploader">
					<div class="file-list" data-drag-placeholder="请拖拽文件到此处"></div>
					<button type="button" class="btn btn-primary uploader-btn-browse"><i class="icon icon-cloud-upload"></i> 选择文件</button>
				</div>
			</div>



		</div>
		<!-- /.box-body -->

		<div class="box-footer">
			<div class="btn-group">
				@if (TempData["RedirectUrl"] != null)
				{
					<a class="btn btn-default" href="@TempData["RedirectUrl"].ToString()">返回</a>
				}
				else
				{
					<a class="btn btn-default" href="javascript:history.go(-1);">返回</a>
				}
				<input id="js-btn-save" class="btn btn-primary" type="submit" value="保存" onclick="return saveData();" />
			</div>
		</div>
	</form>
</div>
<!-- /.box -->
