@using Remember.Web.Models
@model InstallConfig
@{
    Layout = "~/Views/Install/_InstallLayout.cshtml";
    ViewBag.Title = "安装 Remember";
}
@section body {
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@*@Html.EditorFor(x => x.Dbhost, new { @class = "mdui-textfield-input", value = "localhost" })*@
@* EditorFor():  <input class="text-box single-line" data-val="true" data-val-required="数据库主机不能为空" id="Dbhost" name="Dbhost" type="text" value=""> *@
@* 注意:这里因为要自定义 class,所以不能用EditorFor *@
@* 注意：使用TextBoxFor绑定模型属性，设置默认值value，必须大写，否则最后生成的标签value无值 *@

<div id="js-content-info" class="mdui-row">
    <!-- start 安装表单 -->
    <div class="mdui-col-md-8 mdui-col-offset-md-2">
        @using (Html.BeginForm())
        {
        <div class="mdui-typo">
            <h6>填写数据库信息</h6>
        </div>
        <div class="mdui-textfield">
            <i class="mdui-icon material-icons">perm_data_setting</i>
            @*<label class="mdui-textfield-label">数据库主机</label>*@
            @Html.LabelFor(x => x.Dbhost, new { @class = "mdui-textfield-label" })
            @*<input name="dbhost" class="mdui-textfield-input" type="text" value="localhost" />*@
            @Html.TextBoxFor(x => x.Dbhost, new { @class = "mdui-textfield-input", Value = "localhost" })
            <div class="mdui-textfield-error"></div>
            <div class="mdui-textfield-helper">Helper Text</div>
        </div>
        <div class="mdui-textfield">
            <i class="mdui-icon material-icons">label</i>
            @*<label class="mdui-textfield-label">数据库名</label>*@
            @Html.LabelFor(x => x.Dbname, new { @class = "mdui-textfield-label" })
            @*<input name="dbname" class="mdui-textfield-input" type="text" value="rememberdb" />*@
            @Html.TextBoxFor(x => x.Dbname, new { @class = "mdui-textfield-input", Value = "rememberdb" })
            <div class="mdui-textfield-error">错误提示</div>
            <div class="mdui-textfield-helper">Helper Text</div>
        </div>
        <div class="mdui-textfield">
            <i class="mdui-icon material-icons">account_balance_wallet</i>
            @*<label class="mdui-textfield-label">数据库用户名</label>*@
            @Html.LabelFor(x => x.Dbuser, new { @class = "mdui-textfield-label" })
            @*<input name="dbuser" class="mdui-textfield-input" type="text" value="root" />*@
            @Html.TextBoxFor(x => x.Dbuser, new { @class = "mdui-textfield-input", Value = "root" })
            <div class="mdui-textfield-error">错误提示</div>
            <div class="mdui-textfield-helper">Helper Text</div>
        </div>
        <div class="mdui-textfield">
            <i class="mdui-icon material-icons">lock</i>
            @*<label class="mdui-textfield-label">数据库密码</label>*@
            @Html.LabelFor(x => x.Dbpw, new { @class = "mdui-textfield-label" })
            @*<input name="dbpw" class="mdui-textfield-input" type="password" value="root" />*@
            @Html.TextBoxFor(x => x.Dbpw, new { @class = "mdui-textfield-input", Value = "root" })
            <div class="mdui-textfield-error">错误提示</div>
            <div class="mdui-textfield-helper">Helper Text</div>
        </div>
        <div class="mdui-typo">
            <h6>填写管理员信息</h6>
        </div>
        <div class="mdui-textfield">
            <i class="mdui-icon material-icons">account_circle</i>
            @*<label class="mdui-textfield-label">管理员账号</label>*@
            @Html.LabelFor(x => x.Username, new { @class = "mdui-textfield-label" })
            @*<input name="username" class="mdui-textfield-input" type="text" maxlength="20" value="admin" />*@
            @Html.TextBoxFor(x => x.Username, new { @class = "mdui-textfield-input", Value = "admin", maxlength = "30" })
            <div class="mdui-textfield-error">错误提示</div>
            <div class="mdui-textfield-helper">Helper Text</div>
        </div>
        <div class="mdui-textfield">
            <i class="mdui-icon material-icons">assignment_ind</i>
            @*<label class="mdui-textfield-label">管理员密码</label>*@
            @Html.LabelFor(x => x.Password, new { @class = "mdui-textfield-label" })
            @*<input name="password" class="mdui-textfield-input" type="text" />*@
            @Html.TextBoxFor(x => x.Password, new { @class = "mdui-textfield-input" })
            <div class="mdui-textfield-error">错误提示</div>
            <div class="mdui-textfield-helper">Helper Text</div>
        </div>
        <div class="mdui-textfield">
            <i class="mdui-icon material-icons">assignment_ind</i>
            @*<label class="mdui-textfield-label">重复密码</label>*@
            @Html.LabelFor(x => x.PasswordConfirm, new { @class = "mdui-textfield-label" })
            @*<input class="mdui-textfield-input" type="text" />*@
            @Html.TextBoxFor(x => x.PasswordConfirm, new { @class = "mdui-textfield-input" })
            <div class="mdui-textfield-error">错误提示</div>
            <div class="mdui-textfield-helper">Helper Text</div>
        </div>
        <div class="mdui-p-y-5">
            <input id="js-install-btn" class="mdui-btn mdui-btn-block mdui-btn-raised mdui-ripple mdui-color-theme-800" type="submit" value="开始安装" />
        </div>
        }
    </div>
    <!-- end 安装表单 -->
</div>
