@using WebUI.HtmlHelpers
@using WebUI.Areas.Admin.Models.Common
@using WebUI.Extensions
@using Domain
@using WebUI.Areas.Admin.Models.SettingVM;
@model SettingViewModel
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminContent.cshtml";
}
@section head {
}
@section body {
	<script>
	function saveDataSuccess(data) {
		if (data.code <= 0) {
			showMessage(data.message, -1);
		} else {
			showMessage(data.message, 1);
		}
		$("#js-btn-save").html("保存").removeAttr("disabled");
	}

	function saveData() {
		$("#js-btn-save").html("保存中").attr("disabled", "disabled");
		$.ajax({
			url: "@Url.Action("WebApi", "Setting", new { area = "Admin" })",
			type: "post",
			data: $("#js-form").serialize(),
			dataType: "json",
			success: saveDataSuccess
		});
	}

	</script>
}

<!-- start 提示框 -->
@{ Html.RenderPartial("_MessagePartial"); }
<!-- end 提示框 -->

<input id="js-id" type="hidden" />

<!-- start .box -->
<div class="box">
	<!-- start .box-header -->
	<div class="box-header">
		<h3 class="box-title">站点设置</h3>
		<div class="box-tools">
		</div>
	</div>
	<!-- end .box-header -->
	<!-- start .box-body -->
	<div class="box-body no-padding">
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				@if(Html.HasAuth("Admin.Setting.Index")){
				<li><a href="@Url.Action("Index", "Setting", new { area = "Admin" })">常规</a></li>
				}
				<li class="active"><a>WebAPI & Mobile</a></li>
				@if(Html.HasAuth("Admin.Setting.FindPwd")){
				<li><a href="@Url.Action("FindPwd", "Setting", new { area = "Admin" })">找回密码</a></li>
				}
				@if(Html.HasAuth("Admin.Setting.SysEmail")){
				<li><a href="@Url.Action("SysEmail", "Setting", new { area = "Admin" })">系统邮箱</a></li>
				}
				@if(Html.HasAuth("Admin.Setting.Advanced")){
				<li><a href="@Url.Action("Advanced", "Setting", new { area = "Admin" })">高级</a></li>
				}
			</ul>
			<div class="tab-content">
				<div class="tab-pane active">
					<form id="js-form" class="form-horizontal">
						<div class="form-group">
							<label for="inputAccount" class="col-sm-2 control-label">Mobile</label>
							<div class="col-sm-10">
								@Html.TextBoxFor(m => m.WebApiSite, new { @class = "form-control", placeholder = "Mobile eg:http://localhost:7784" })
							</div>
						</div>
						<div class="form-group">
							<label for="inputAccount" class="col-sm-2 control-label">Mobile网站名称</label>
							<div class="col-sm-10">
								@Html.TextBoxFor(m => m.WebApiTitle, new { @class = "form-control", placeholder = "Mobile网站名称" })
							</div>
						</div>
						<div class="form-group">
							<label for="inputDescription" class="col-sm-2 control-label">SEO - Mobile 描述</label>
							<div class="col-sm-10">
								@Html.TextAreaFor(m => m.WebApiDesc, new { @class = "form-control", placeholder = "SEO - Mobile 描述" })
							</div>
						</div>
						<div class="form-group">
							<label for="inputDescription" class="col-sm-2 control-label">SEO - Mobile 关键词</label>
							<div class="col-sm-10">
								@Html.TextAreaFor(m => m.WebApiKeywords, new { @class = "form-control", placeholder = "SEO - Mobile 关键词" })
							</div>
						</div>
						<div class="form-group">
							<label for="inputDescription" class="col-sm-2 control-label">WebAPI 网站统计代码</label>
							<div class="col-sm-10">
								@Html.TextAreaFor(m => m.WebApiStat, new { @class = "form-control", placeholder = "WebApi 网站统计代码，置于网站底部" })
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<span onclick="saveData()" class="btn btn-danger">保存</span>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- /.tab-content -->
		</div>
	</div>
	<!-- end .box-body -->
	<!-- start .box-footer -->
	<div class="box-footer clearfix">
	</div>
	<!-- end .box-footer -->
</div>
<!-- end .box -->
