@using WebUI.HtmlHelpers
@using WebUI.Areas.Admin.Models.Common
@using Domain.Entities
@using Services.Interface;
@using Core
@model ListViewModel<LogInfo>
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminContent.cshtml";


	IList<int> userIds = Model.List.Select(m => m.AccessUserId ?? 0).ToList();
	var userInfos = ContainerManager.Resolve<IUserInfoService>().Filter(m => userIds.Contains(m.ID));
	var userIdAndUserNames = (from m in userInfos
							  select new { ID = m.ID, UserName = m.UserName }).ToList();
}
@section head {
	<style>
		table tr td {
			vertical-align: middle !important;
		}
	</style>
}
@helper PrettyTime(long second)
{
	if (second >= 3600)
	{
		// 小时
		@Html.Raw(Math.Round((double)second / 3600, 2) + "时");
	}
	if (second >= 60)
	{
		// 分钟
		@Html.Raw(Math.Round((double)second / 60, 2) + "分");
	}
	else
	{
		// 秒
		@Html.Raw(second + "秒");
	}
}
@section body {
	<script src="/assets/libs/pview/pview.js"></script>
	<script>

		function submitSuccess(data) {
			if (data.code <= 0) {
				showMessage(data.message, -1);
			} else {
				showMessage(data.message, 1);
			}
		}

		function banIP(ip) {
			submitSuccess({ code: 1, message: "屏蔽IP: " + ip + " 成功" });

			return false;
		}

		function banUser(userId) {
			submitSuccess({ code: 1, message: "屏蔽用户: " + userId + " 成功" });

			return false;
		}

		function search() {
			var query = $('#js-search-input').val();
			var queryType = $('#js-search-type').attr('search-type');
			window.location.href = window.location.origin + window.location.pathname + '?q=' + query + '&type=' + queryType;
		}

		var pview;
		$(function () {
			pview = new PView();
			pview.init();

			$('#js-search-input').on('keypress', function (event) {
				if (event.keyCode == "13") {
					search();
				}
			});
			$('#js-search-btn').on('click', function () {
				search();
			});
			$('#js-search-type-list li').on('click', function () {
				var type = $(this).attr('search-type');
				var typeName = $(this).find('a').html();
				$('#js-search-type').attr('search-type', type);
				$('#js-search-type').html(typeName);
			});
		});

	</script>
}

<!-- start 提示框 -->
@{ Html.RenderPartial("_MessagePartial"); }
<!-- end 提示框 -->

<input id="js-id" type="hidden" />

<!-- start .box -->
<div class="box">
	<!-- start .box-header -->
	<div class="box-header">
		<h3 class="box-title">列表</h3>

		<div class="box-tools">
			<div class="input-group input-group-sm" style="width: 250px;">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span id="js-search-type" search-type="@(ViewBag.QueryType.Val)">@(ViewBag.QueryType.Text)</span>
						<span class="fa fa-caret-down"></span>
					</button>
					<ul id="js-search-type-list" class="dropdown-menu">
						<li search-type="uid"><a href="javascript:;">用户ID</a></li>
						<li search-type="username"><a href="javascript:;">用户名</a></li>
						<li search-type="browser"><a href="javascript:;">浏览器</a></li>
						<li search-type="ip"><a href="javascript:;">IP</a></li>
						<li search-type="city"><a href="javascript:;">城市</a></li>
						<li search-type="id"><a href="javascript:;">ID</a></li>
					</ul>
				</div>
				<input id="js-search-input" type="text" name="table_search" class="form-control pull-right" placeholder="Search" value="@ViewBag.Query">
				<div class="input-group-btn">
					<button id="js-search-btn" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</div>
	</div>
	<!-- end .box-header -->
	<!-- start .box-body -->
	<!-- start 简单表格 -->
	<div class="box-body table-responsive no-padding">
		<table id="js-table" class="table table-hover" pview="table">
			<tr>
				<th>ID</th>
				<th>访客</th>
				<th>访问地</th>
				<th>访问时间</th>
				<th>时长</th>
				<th>受访页面</th>
				<th>属性</th>
				<th>操作</th>
			</tr>
			@foreach (var item in Model.List)
			{
				<tr data-tr-id="@item.ID">
					<td>@item.ID</td>
					<td>
						@if (item.AccessUserId == 0)
						{
							<span>未登录</span>
						}
						else
						{
							<span>@userIdAndUserNames.Where(m => m.ID == item.AccessUserId).First().UserName</span>
						}
					</td>
					<td><span class="label label-default">@item.AccessCity</span></td>
					<td><span class="label label-success">@(item.AccessTime.ToString("yyyy-MM-dd HH:mm"))</span></td>
					<td><span class="label label-primary">@PrettyTime(item.Duration)</span></td>
					<td><span class="label label-info">@item.AccessUrl</span></td>
					<td>
						<span class="label label-info">@item.Browser.Split(' ')[0]</span>
						<span class="label label-success">@item.OS</span>
						<span class="label label-default">@item.Device</span>
					</td>
					<td>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li><a href="@Url.Action("Details")?id=@item.ID">查看</a></li>
								<li><a href="#" onclick="banIP('@item.AccessIp')">屏蔽此IP</a></li>
								<li role="separator" class="divider"></li>
								@if (item.AccessUserId != null && item.AccessUserId != 0)
								{
									<li><a href="#" onclick="banUser(@item.AccessUserId)">屏蔽此用户</a></li>
								}
							</ul>
						</div>
					</td>
				</tr>
			}
		</table>
	</div>
	<!-- end 简单表格 -->
	<!-- end .box-body -->
	<!-- start .box-footer -->
	<div class="box-footer clearfix">
		<div class="btn-group pull-left">
		</div>
		<!-- start 分页 -->
		<div id="js-page" pview="pages">
			<ul class="pagination pull-right" pview-btn-group pview-targets="table,pages">
				@Html.PageLinks(Model.PageInfo, i => Url.Action("Index", new { pageIndex = i, q = Request["q"], type = Request["type"] }))
			</ul>
		</div>
		<!-- end 分页 -->
	</div>
	<!-- end .box-footer -->
</div>
<!-- end .box -->
