@using Framework.HtmlHelpers
@using WebUI.Areas.Admin.Models.Common
@using WebUI.Extensions
@using Domain.Entities
@using Services.Interface;
@using Core
@model ListViewModel<LogInfo>
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminContent.cshtml";
}
@section head {
	<style>
		table tr td {
			vertical-align: middle !important;
		}
	</style>
}
@helper GetUserNameById(int id)
{
	if (id == 0)
	{
		@Html.Raw("未登录");
	}
	else
	{
		//string userName = Container.Instance.Resolve<UserInfoService>().GetEntity(id).UserName;
		string userName = ContainerManager.Resolve<IUserInfoService>().Find(m => m.ID == id && !m.IsDeleted).UserName;
		@Html.Raw(userName);
	}
}
@helper PrettyTime(long second)
{
	if (second >= 3600)
	{
		// 小时
		@Html.Raw(Math.Round((double)second / 3600, 2) + "时");
	}
	if (second >= 60)
	{
		// 分钟
		@Html.Raw(Math.Round((double)second / 60, 2) + "分");
	}
	else
	{
		// 秒
		@Html.Raw(second + "秒");
	}
}
@section body {
	<script src="/assets/libs/pview/pview.js"></script>
	<script>

		// start 删除
		function deleteOp(id) {
			$("#js-id").val(id);
			$('#deleteModal').modal();
		}
		function deleteSubmit() {
			var id = $("#js-id").val();
			$.ajax({
				type: 'POST',
				url: '/Admin/LogInfo/Delete',
				data: { id: id },
				dataType: 'json',
				success: function (data) {
					if (data.code <= 0) {
						// 删除失败
						$("#js-message").attr("class", "alert alert-danger").find(".message").html(data.message);
					} else {
						// 删除成功
						$("#js-message").attr("class", "alert alert-success").find(".message").html(data.message);
						$(".table").find("tr[data-tr-id='" + id + "']").remove();
						// 检查当前当前页面是否已经全部删除完，若是，则点击当前页码，重新加载
						var trNum = $(".table").find("tr").length - 1;
						if (trNum == 0) {
							$("#js-page").find("li[class*='active']>a")[0].click();
						}
					}
					// 3s 后隐藏
					setTimeout(function () {
						$("#js-message").fadeOut("slow");
					}, 3000);
				}
			});
		}
		// end 删除

		function search() {
			var query = $('#js-search-input').val();
			var queryType = $('#js-search-type').attr('search-type');
			window.location.href = window.location.origin + window.location.pathname + '?q=' + query + '&type=' + queryType;
		}

		var pview;
		$(function () {
			pview = new PView();
			pview.init();

			$('#js-search-input').on('keypress', function (event) {
				if (event.keyCode == "13") {
					search();
				}
			});
			$('#js-search-btn').on('click', function () {
				search();
			});
			$('#js-search-type-list li').on('click', function () {
				var type = $(this).attr('search-type');
				var typeName = $(this).find('a').html();
				$('#js-search-type').attr('search-type', type);
				$('#js-search-type').html(typeName);
			});
		});

	</script>
}

<!-- start 删除确认框 -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title">确认框</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="message-text" class="control-label">确定要删除？</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
				<button onclick="deleteSubmit()" type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
			</div>
		</div>
	</div>
</div>
<!-- end 删除确认框 -->
<!-- start 提示框 -->
@{ Html.RenderPartial("_MessagePartial"); }
<!-- end 提示框 -->

<input id="js-id" type="hidden" />

<!-- start .box -->
<div class="box">
	<!-- start .box-header -->
	<div class="box-header">
		<h3 class="box-title">列表</h3>

		<div class="box-tools">
			<div class="input-group input-group-sm" style="width: 250px;">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span id="js-search-type" search-type="@(ViewBag.QueryType.Val)">@(ViewBag.QueryType.Text)</span>
						<span class="fa fa-caret-down"></span>
					</button>
					<ul id="js-search-type-list" class="dropdown-menu">
						<li search-type="uid"><a href="javascript:;">用户ID</a></li>
						<li search-type="browser"><a href="javascript:;">浏览器</a></li>
						<li search-type="ip"><a href="javascript:;">IP</a></li>
						<li search-type="id"><a href="javascript:;">ID</a></li>
					</ul>
				</div>
				<input id="js-search-input" type="text" name="table_search" class="form-control pull-right" placeholder="Search" value="@ViewBag.Query">
				<div class="input-group-btn">
					<button id="js-search-btn" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</div>
	</div>
	<!-- end .box-header -->
	<!-- start .box-body -->
	<!-- start 简单表格 -->
	<div class="box-body table-responsive no-padding">
		<table id="js-table" class="table table-hover" pview="table">
			<tr>
				<th>ID</th>
				<th>用户</th>
				<th>访问地</th>
				<th>访问时间</th>
				<th>跳出时间</th>
				<th>时长</th>
				<th>受访页面</th>
				<th>信息</th>
				<th>操作</th>
			</tr>
			@foreach (var item in Model.List)
			{
				<tr data-tr-id="@item.ID">
					<td>@item.ID</td>
					<td>@GetUserNameById(item.AccessUserId ?? 0)</td>
					<td><span class="label label-info">@item.AccessIp</span><span class="label label-default">@item.AccessCity</span></td>
					<td><span class="label label-success">@(item.AccessTime?.ToString("yyyy-MM-dd HH:mm:ss"))</span></td>
					<td><span class="label label-danger">@(item.JumpTime?.ToString("yyyy-MM-dd HH:mm:ss"))</span></td>
					<td><span class="label label-primary">@PrettyTime(item.Duration ?? 0)</span></td>
					<td><span class="label label-info">@item.AccessUrl</span></td>
					<td>
						<span class="label label-info">@item.Browser</span>
						<span class="label label-warning">@item.BrowserEngine</span>
						<span class="label label-success">@item.OS</span>
						<span class="label label-default">@item.Device</span>
					</td>
					<td>
						<div class="btn-group">
							@*@if (Html.HasAuth("Admin", "LogInfo", "Delete"))
								{
									<button class="btn btn-danger" type="button" onclick="deleteOp(@item.ID)">删除</button>
								}*@
							<button type="button" class="btn btn-danger">查看</button>
							<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>
					</td>
				</tr>
			}
		</table>
	</div>
	<!-- end 简单表格 -->
	<!-- end .box-body -->
	<!-- start .box-footer -->
	<div class="box-footer clearfix">
		<div class="btn-group pull-left">
		</div>
		<!-- start 分页 -->
		<div id="js-page" pview="pages">
			<ul class="pagination pull-right" pview-btn-group pview-targets="table,pages">
				@Html.PageLinks(Model.PageInfo, i => Url.Action("Index", new { pageIndex = i, q = Request["q"], type = Request["type"] }))
			</ul>
		</div>
		<!-- end 分页 -->
	</div>
	<!-- end .box-footer -->
</div>
<!-- end .box -->
