@using Domain
@model Article
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminContent.cshtml";

	Html.EnableClientValidation(false);
}
@section head {
	<link href="/assets/libs/AdminLTE/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
	<!-- 重新覆盖掉 select2 所覆盖的主题样式 -->
	<link rel="stylesheet" href="/assets/libs/AdminLTE/dist/css/AdminLTE.min.css">
}
@section body {
	<script src="/assets/libs/AdminLTE/bower_components/select2/dist/js/select2.full.min.js"></script>
	<script src="/assets/libs/wangEditor/wangEditor.min.js"></script>
	<script>

		function showMessage(message, type) {
			$("#js-message").fadeIn();
			switch (type) {
				case -1:
					$("#js-message").attr("class", "alert alert-danger").find(".message").html(message);
					break;
				case 1:
					$("#js-message").attr("class", "alert alert-success").find(".message").html(message);
					break;
			}
			// 3s 后隐藏
			setTimeout(function () {
				$("#js-message").fadeOut("slow");
			}, 3000);
		}

		function onSuccess(data) {
			if (data.code <= 0) {
				showMessage(data.message, -1);
			} else {
				showMessage(data.message, 1);
			}
			$("#js-btn-save").html("保存").removeAttr("disabled");
		}

		function saveData() {
			$("#js-btn-save").html("保存中").attr("disabled", "disabled");
			$.ajax({
				url: "/Admin/Article/Edit",
				type: "post",
				dataType: "json",
				data: $("#js-form").serialize(),
				success: onSuccess
			});
			return false;
		}


		$(function () {
			//Initialize Select2 Elements
			$(".select2").select2();

			$('#js-basic-url').html(window.location.origin + '/');

			var E = window.wangEditor;
			var editor = new E('#js-editArea');
			var $hiddenEditArea = $("#Content");
			editor.customConfig.onchange = function (html) {
				// 监控变化，同步更新到 textarea
				$hiddenEditArea.val(html);
			}
			editor.create();
			editor.txt.html($hiddenEditArea.val());
			// 初始化 textarea 的值
			$hiddenEditArea.val(editor.txt.html())
		});

	</script>
}

<!-- start 提示框 -->
@Html.Partial("_MessagePartial")
<!-- end 提示框 -->
<!-- general form elements -->
<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">修改</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form id="js-form">
		@Html.HiddenFor(m => m.ID)
		<div class="box-body">
			<div class="form-group">
				<label for="InputUserName">标题</label>
				@Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
			</div>
			<div class="form-group">
				<label for="InputName">内容</label>
				<div id="js-editArea"></div>
				@Html.TextAreaFor(model => model.Content, new { style = "display: none;" })
			</div>
			<div class="input-group">
				<label for="js-basic-url">自定义url</label>
				<span id="js-basic-url" class="input-group-addon"></span>
				@Html.TextBoxFor(m => m.CustomUrl, new { @class = "form-control", aria_describedby = "js-basic-url" })
			</div>

		</div>
		<!-- /.box-body -->

		<div class="box-footer">
			<div class="btn-group">
				@if (TempData["RedirectUrl"] != null)
				{
					<a class="btn btn-default" href="@TempData["RedirectUrl"].ToString()">返回</a>
				}
				else
				{
					<a class="btn btn-default" href="javascript:history.go(-1);">返回</a>
				}
				<input id="js-btn-save" class="btn btn-primary" type="submit" value="保存" onclick="return saveData();" />
			</div>
		</div>
	</form>
</div>
<!-- /.box -->
