@using Domain.Entities
@model CourseBox
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminContent.cshtml";

	Html.EnableClientValidation(false);
}
@section head {
	<link href="/assets/libs/zui/dist/css/zui.min.css" rel="stylesheet" />
	<link href="/assets/libs/zui/dist/lib/uploader/zui.uploader.css" rel="stylesheet" />
	<link href="/assets/libs/dplayer/dist/DPlayer.min.css" rel="stylesheet" />
}
@section body {
	<!-- 在 zui.js 和 uploader.js 加载之前引入七牛 js-sdk -->
	@*<script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.14-beta/qiniu.min.js"></script>*@
	<script src="/assets/libs/zui/dist/js/zui.min.js"></script>
	<script src="/assets/libs/zui/dist/lib/uploader/zui.uploader.min.js"></script>
	<script src="/assets/libs/dplayer/dist/DPlayer.min.js"></script>
	<script>

		function saveDataSuccess(data) {
			if (data.code <= 0) {
				showMessage(data.message, -1);
			} else {
				showMessage(data.message + "，准备跳转...", 1);
				setTimeout(function () {
					window.location.href = "@Url.Action("Videos", new { area = "Admin", id = Model.ID })";
				}, 1000);
			}
			$("#js-btn-save").html("保存").removeAttr("disabled");
		}


		function saveData() {
			$("#js-btn-save").val("保存中").attr("disabled", "disabled");
			$.ajax({
				url: "/Admin/CourseBox/AddVideo",
				type: "post",
				dataType: "json",
				data: $("#js-form").serialize(),
				success: saveDataSuccess
			});
		}

		var videoPlayer;
		$(function () {


			$('#video-uploader-area').uploader({
				autoUpload: true,            // 当选择文件后立即自动进行上传操作
				url: '/Admin/CourseBox/UploadVideo?id=@Model.ID',  // 文件上传提交地址
				@*qiniu: {
					domain: 'http://pyfkzo66m.bkt.clouddn.com',
					uptoken : '@ViewBag.UpToken'
				},*@
				filters: {
					 // 只允许上传视频
					mime_types: [
						{title: '视频', extensions: 'mp4,avi,mov,flv,wmv,mpeg,mkv,asf,rmvb,rm,vob,ts,dat,mpg'},
					],
					// 允许上传重复文件
					prevent_duplicates: false,
					// 最大上传文件为 800MB
					max_file_size: '800mb',
				},
				multi_selection: false,
				chunk_size: 0, // 关闭分片上传
				limitFilesCount: 1,
				deleteActionOnDone: function(file, doRemoveFile) {
					doRemoveFile();
					$("#PlayUrl").val("");
				},
				responseHandler: function (responseObject, file) {
					var res = JSON.parse(responseObject.response);
					if (res.result == "ok") {
						$("#PlayUrl").val(res.url);
						$("#Size").val(file.size);

						// 加载播放器，利用播放器播放已经上传成功的 视频url，来获取视频总时长
						videoPlayer = new DPlayer({
							container: document.getElementById('videoPlayer'),
							screenshot: true,
							autoplay: true,
							video: {
								url: res.url,
							},
							subtitle: {
								url: res.url,
							}
						});

						// 本想在这里获取到视频的总时长，但发现刚初始化视频时，无法拿到总时长
						videoPlayer.on("durationchange", function () {
							var duration = parseInt(videoPlayer.video.duration);
							console.log("视频总时长", duration);
							$("#Duration").val(duration);
						});

					}
				}
			});

			$('#subTitle-uploader-area').uploader({
				autoUpload: true,            // 当选择文件后立即自动进行上传操作
				url: '/Admin/CourseBox/UploadSubTitle?id=@Model.ID',  // 文件上传提交地址
				filters: {
					 // 只允许上传字幕
					mime_types: [
						{title: '字幕', extensions: 'vtt'},
					],
					// 允许上传重复文件
					prevent_duplicates: false,
					// 最大上传文件为 5MB
					max_file_size: '5mb',
				},
				multi_selection: false,
				limitFilesCount: 1,
				deleteActionOnDone: function(file, doRemoveFile) {
					doRemoveFile();
					$("#SubTitleUrl").val("");
				},
				responseHandler: function (responseObject, file) {
					var res = JSON.parse(responseObject.response);
					if (res.result == "ok") {
						$("#SubTitleUrl").val(res.url);
					}
				}
			});



		});

	</script>
}

<!-- start 提示框 -->
@Html.Partial("_MessagePartial")
<!-- end 提示框 -->
<!-- general form elements -->
<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">添加课件 - 课程 @Model.Name</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body">

		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li><a href="@Url.Action("Edit", "CourseBox", new { area = "Admin" , id = Model.ID})">课程基本信息</a></li>
				<li><a href="@Url.Action("Videos", "CourseBox", new { area = "Admin" , id = Model.ID })">课程课件</a></li>
				<li class="active"><a>添加课件</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active">
					<form id="js-form">
						@Html.Hidden("courseBoxId", Model.ID)
						<div class="form-group">
							<label>课件标题</label>
							@Html.TextBox("Title", "", new { @class = "form-control" })
						</div>
						<div class="form-group">
							<label>课件排序码</label>
							@Html.TextBox("Page", "", new { @class = "form-control", type = "number" })
						</div>
						<div class="form-group">
							@* 不知道为什么，视频播放黑屏，但能拿到总时长，干脆取消预览 *@
							<label>视频预览</label>
							<div id="videoPlayer" style="width: 500px;margin: 0 auto;"></div>
						</div>
						<div class="form-group" style="display: none;">
							@Html.Hidden("PlayUrl")
						</div>
						<div class="form-group" style="display: none;">
							@Html.Hidden("SubTitleUrl")
						</div>
						<div class="form-group" style="display: none;">
							@Html.Hidden("Size")
						</div>
						<div class="form-group" style="display: none;">
							@Html.Hidden("Duration")
						</div>
						<div class="form-group">
							<label>上传视频</label>
							<div id="video-uploader-area" class="uploader">
								<div class="file-list" data-drag-placeholder="请拖拽文件到此处"></div>
								<button type="button" class="btn btn-primary uploader-btn-browse"><i class="icon icon-cloud-upload"></i> 选择视频文件</button>
							</div>
						</div>
						<div class="form-group">
							<label>上传字幕（目前字幕文件只支持WebVtt，即扩展名为 vtt，例如 字幕.vtt）</label>
							<div id="subTitle-uploader-area" class="uploader">
								<div class="file-list" data-drag-placeholder="请拖拽文件到此处"></div>
								<button type="button" class="btn btn-primary uploader-btn-browse"><i class="icon icon-cloud-upload"></i> 选择字幕文件</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
	<!-- /.box-body -->

	<div class="box-footer">
		<div class="btn-group">
			<a class="btn btn-default" href="@Url.Action("Videos", "CourseBox", new { area = "Admin",id = Model.ID })">返回</a>
			<button id="js-btn-save" class="btn btn-primary" onclick="saveData()">保存</button>
		</div>
	</div>

</div>
<!-- /.box -->
