@using Domain.Entities
@using WebUI.HtmlHelpers
@using WebUI.Areas.Admin.Models.Common
@model ListViewModel<VideoInfo>
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminContent.cshtml";

	CourseBox courseBox = ViewBag.CourseBox;
}
@section head {
	<style>
		table tr td {
			vertical-align: middle !important;
		}
	</style>
}
@section body {
	<script src="/assets/libs/pview/pview.js"></script>
	<script>

		// start 删除
		function deleteSuccess(data) {
			if (data.code <= 0) {
				showMessage(data.message, -1);
			} else {
				showMessage(data.message, 1);
				window.location.href = window.location.href;
			}
		}
		function deleteOp(id) {
			$("#js-id").val(id);
			$('#deleteModal').modal();
		}
		function deleteSubmit() {
			var id = $("#js-id").val();
			$.ajax({
				type: 'POST',
				url: '/Admin/CourseBox/DeleteVideo',
				data: { id: id },
				dataType: 'json',
				success: deleteSuccess
			});
		}
		// end 删除


		$(function () {

			pview = new PView();
			pview.init();

		});

	</script>
}

<!-- start 删除确认框 -->
@{ Html.RenderPartial("_DeleteModelPartial"); }
<!-- end 删除确认框 -->
<!-- start 提示框 -->
@Html.Partial("_MessagePartial")
<!-- end 提示框 -->

<input id="js-id" type="hidden" />

<!-- general form elements -->
<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">@courseBox.Name</h3>
		<div class="box-tools"></div>
	</div>
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body">

		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li><a href="@Url.Action("Edit", "CourseBox", new { are = "Admin", id = courseBox.ID })">课程基本信息</a></li>
				<li class="active"><a>课程课件</a></li>
				<li><a href="@Url.Action("AddVideo", "CourseBox", new { area = "Admin", courseBoxId = courseBox.ID })">添加课件</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active">
					<table id="js-table" class="table table-hover" pview="table">
						<tr>
							<th>ID</th>
							<th>标题</th>
							<th>总时长</th>
							<th>文件大小</th>
							<th>操作</th>
						</tr>
						@foreach (var item in Model.List)
						{
							<tr data-tr-id="@item.ID">
								<td>@item.ID</td>
								<td>@item.Title</td>
								<td>@(item.Duration / 60)分钟</td>
								<td>@(Math.Round((double)item.Size / 1024 / 1024, 2))MB</td>
								<td>
									<div class="btn-group" role="group" data-pjax>
										@if (Html.HasAuth("Admin.CourseBox.DeleteVideo"))
										{
											<button class="btn btn-danger" type="button" onclick="deleteOp(@item.ID)">删除</button>
										}
										@if (Html.HasAuth("Admin.CourseBox.EditVideo"))
										{
											<a class="btn btn-warning" href="@Url.Action("EditVideo")?id=@item.ID">编辑</a>
										}
									</div>
								</td>
							</tr>
						}
					</table>
				</div>
			</div>
		</div>

	</div>
	<!-- /.box-body -->

	<div class="box-footer">
		<div class="btn-group pull-left">
			<a class="btn btn-default" href="@Url.Action("Index", "CourseBox", new { area = "Admin" })">返回</a>
		</div>
		<!-- start 分页 -->
		<div id="js-page" pview="pages">
			<ul class="pagination pull-right" pview-btn-group pview-targets="table,pages">
				@Html.PageLinks(Model.PageInfo, i => Url.Action("Videos", new { pageIndex = i, q = Request["q"], type = Request["type"] }))
			</ul>
		</div>
		<!-- end 分页 -->
	</div>

</div>
<!-- /.box -->
