@using Framework.HtmlHelpers
@using WebUI.Models.SearchVM
@model PagedList<SearchResult>
@{
	ViewBag.Title = "搜索";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="/libs/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/libs/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="/libs/AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="/libs/AdminLTE/dist/css/AdminLTE.min.css">
	<link rel="stylesheet" href="/libs/AdminLTE/dist/css/skins/skin-blue.min.css">
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link href="/libs/Autocomplete/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">
	<div class="container">
		<form class="search-form" method="get">
			@Html.Hidden("hidIsOr")
			<div class="input-group">
				@Html.TextBox("txtSearch", null, new { @class = "form-control" })
				<div class="input-group-btn">
					<button id="js-btn-search" class="btn btn-warning btn-flat" type="submit">
						<i class="fa fa-search"></i>
					</button>
					<div>
						或查询<input id="js-isOr" type="checkbox" value="false" />
					</div>
				</div>
			</div>
			<!-- /.input-group -->
		</form>
		<div id="js-keywords">
			<span>热门搜索:</span>
			@if (ViewBag.KeyWords != null)
			{
				foreach (string keyword in ViewBag.KeyWords)
				{
					<a href="#">@keyword</a>
				}
			}
		</div>
		<div>
			<ul class="media-list">
				@if (Model != null && Model.List.Count > 0)
				{
					foreach (var item in Model.List)
					{
						<li class="media">
							<div class="media-left">
								<a href="/@item.Url">
									<img class="media-object" src="..." alt="...">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">@MvcHtmlString.Create(item.Title)</h4>
								@MvcHtmlString.Create(item.Description)
								<h6><i class="glyphicon glyphicon-time"></i>@item.CreateTime</h6>
							</div>
						</li>
					}
				}
			</ul>
		</div>
	</div>
	<script src="/libs/Autocomplete/js/jquery-ui-1.8.17.custom.min.js"></script>
	<!-- jQuery -->
	<script src="/Scripts/jquery-1.12.0.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="/libs/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- AdminLTE App -->
	<script src="/libs/AdminLTE/dist/js/adminlte.min.js"></script>
	<script type="text/javascript">

		$(function () {
			$("#js-keywords a").click(function () {
				$("#txtSearch").val($(this).html());
				$("#js-btn-search").click();
			});
			getKeyWordList("txtSearch");
			$("#js-isOr").click(function () {
				if ($(this).attr("checked") == "checked") {
					$("#hidfIsOr").val(true);
				}
				else {
					$("#hidfIsOr").val(false);
				}
			});
			if ($("#hidfIsOr").val() == "true") {
				$("input[type='checkbox']").prop("checked", true);
			}
		});

		// 自动加载搜索列表
		function getKeyWordList(txt) {
			if (txt == undefined || txt == "")
				return;
			$("#" + txt).autocomplete({
				source: "@Url.Action("GetKeyWordList")",
				minLength: 1
			});
		}

	</script>
</body>
</html>