@using Framework.HtmlHelpers
@using WebUI.Models.SearchVM
@model PagedList<SearchResult>
@{
	ViewBag.Title = "搜索";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="/assets/libs/typeahead.js/search.css" rel="stylesheet" />
	<link href="/assets/libs/mdui/dist/css/mdui.min.css" rel="stylesheet" />
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">
	<div class="container">
		<form class="search-form" method="get">
			@Html.Hidden("hidIsOr")
			<div class="example" id="bloodhound">
				<div class="demo">
					@Html.TextBox("txtSearch", null, new { @class = "form-control typeahead" })
					<button id="js-btn-search" class="mdui-btn mdui-btn-raised mdui-btn-dense" type="submit">搜索</button>
				</div>
				<div>
					或查询<input id="js-isOr" type="checkbox" value="false" />
				</div>
			</div>
		</form>
		<div id="js-keywords">
			<span>热门搜索:</span>
			@if (ViewBag.KeyWords != null)
			{
				foreach (string keyword in ViewBag.KeyWords)
				{
					<a href="#">@keyword</a>
				}
			}
		</div>
		<div>
			<ul class="mdui-list">
				@if (Model != null && Model.List.Count > 0)
				{
					foreach (var item in Model.List)
					{
						<li class="mdui-list-item mdui-ripple">
							<div class="mdui-list-item-content">
								<div class="mdui-list-item-title mdui-list-item-one-line">
									<a href="/@item.Url" target="_blank">@MvcHtmlString.Create(item.Title)</a>
								</div>
								<div class="mdui-list-item-text mdui-list-item-two-line">@MvcHtmlString.Create(item.Content) - @item.CreateTime</div>
							</div>
						</li>
					}
				}
			</ul>
		</div>
	</div>
	<!-- jQuery -->
	<script src="/Scripts/jquery-1.12.0.min.js"></script>
	<script src="/assets/libs/typeahead.js/typeahead.bundle.min.js"></script>
	<script src="/assets/libs/mdui/dist/js/mdui.min.js"></script>
	<script type="text/javascript">

		$(function () {
			$("#js-keywords a").click(function () {
				$("#txtSearch").val($(this).html());
				$("#js-btn-search").click();
			});
			getKeyWordList("txtSearch");
			$("#js-isOr").click(function () {
				if ($(this).attr("checked") == "checked") {
					$("#hidfIsOr").val(true);
				}
				else {
					$("#hidfIsOr").val(false);
				}
			});
			if ($("#hidfIsOr").val() == "true") {
				$("input[type='checkbox']").prop("checked", true);
			}
		});


		// 自动加载搜索列表
		function getKeyWordList(txt) {
			if (txt == undefined || txt == "")
				return;
			var remote_cities = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('KeyWord'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				// 在文本框输入字符时才发起请求
				remote: {
					url: '/Search/GetKeyWordList?term=%QUERY',
					wildcard: '%QUERY'
				}
			});
			remote_cities.initialize();
			$('#' + txt).typeahead({
				hint: true,
				highlight: true,
				minLength: 1
			}, 
			{
				name: 'keywords',
				displayKey: 'KeyWord',
				source: remote_cities.ttAdapter(),
			});
		}

	</script>
</body>
</html>