@using Domain.Entities
@using WebUI.Areas.Admin.Models.Common
@using WebUI.Extensions
@using WebUI.Areas.Admin.Models
@using Framework.Extensions
@using Framework.Infrastructure.Concrete
@using PluginHub.Mvc5
@{
	Layout = null;

	ViewBag.Title = "管理中心 - " + WebSetting.Get("WebUITitle");

	AdminWebBaseInfoViewModel baseInfo = new AdminWebBaseInfoViewModel();
	UserInfo currentUserInfo = AccountManager.GetCurrentUserInfo(true);
	currentUserInfo.Avatar = currentUserInfo.Avatar.ToHttpAbsoluteUrl();
	ViewBag.AdminWebBaseInfo = baseInfo;
	ViewBag.CurrentUserInfo = currentUserInfo;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@ViewBag.Title</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="/assets/libs/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/assets/libs/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="/assets/libs/AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="/assets/libs/AdminLTE/dist/css/AdminLTE.min.css">
	<link rel="stylesheet" href="/assets/libs/AdminLTE/dist/css/skins/skin-blue.min.css">
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	@RenderSection("head", false)
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="wrapper">
		<!-- Main Header -->
		@{ Html.RenderPartial("_Admin_HeaderPartial"); }
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- Sidebar user panel (optional) -->
				<div class="user-panel">
					<div class="pull-left image">
						<img src="@currentUserInfo.Avatar" class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
						<p>@currentUserInfo.UserName</p>
						<!-- Status -->
						<a target="_blank" href="@Url.Action("Index", "Profile", new { area = "Account", userName = currentUserInfo.UserName })"><i class="fa fa-circle text-success"></i> 在线</a>
					</div>
				</div>
				<!-- search form (Optional) -->
				<form action="#" method="get" class="sidebar-form">
					<div class="input-group">
						<input type="text" name="q" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
							<button type="submit" name="search" id="search-btn" class="btn btn-flat">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</form>
				<!-- /.search form -->
				<!-- Sidebar Menu -->
				@{ Html.RenderPartial("_LeftMenuPartial"); }
				<!-- /.sidebar-menu -->
			</section>
			<!-- /.sidebar -->
		</aside>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			@RenderBody()
		</div>
		<!-- /.content-wrapper -->
		<!-- Main Footer -->
		@{ Html.RenderPartial("_Admin_FooterPartial"); }
		<!-- Control Sidebar -->
		@{ Html.RenderPartial("_RightControlSidebarPartial"); }
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->
	<!-- REQUIRED JS SCRIPTS -->
	<!-- jQuery -->
	<script src="/assets/libs/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="/assets/libs/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- AdminLTE App -->
	<script src="/assets/libs/AdminLTE/dist/js/adminlte.min.js"></script>
	<!-- Slimscroll -->
	<script src="/assets/libs/AdminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="/assets/libs/AdminLTE/bower_components/fastclick/lib/fastclick.js"></script>
	<!-- tools.js -->
	<script src="/assets/js/tools.js"></script>
	<!-- start 提示框 -->
	<link href="/assets/libs/toastr/build/toastr.min.css" rel="stylesheet" />
	<script src="/assets/libs/toastr/build/toastr.min.js"></script>
	<script>
		toastr.options.closeButton = true;
	</script>
	<!-- end 提示框 -->
	<!-- start log -->
	<script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
	<script src="/assets/libs/ua-parser-js/dist/ua-parser.min.js"></script>
	<script src="/assets/libs/fingerprintjs2/dist/fingerprint2.min.js"></script>
	<script src="/assets/js/log.js"></script>
	<!-- end log -->
	<script>
		$(function () {

			/**
			* Get access to plugins
			 */
			$('[data-toggle="control-sidebar"]').controlSidebar()
			$('[data-toggle="push-menu"]').pushMenu()
			var $pushMenu = $('[data-toggle="push-menu"]').data('lte.pushmenu')
			var $controlSidebar = $('[data-toggle="control-sidebar"]').data('lte.controlsidebar')
			var $layout = $('body').data('lte.layout')
			$(window).on('load', function () {
				// Reinitialize variables on load
				$pushMenu = $('[data-toggle="push-menu"]').data('lte.pushmenu')
				$controlSidebar = $('[data-toggle="control-sidebar"]').data('lte.controlsidebar')
				$layout = $('body').data('lte.layout')
			})

		});

		function selectTemplate(id) {
			$.ajax({
				url: '/Admin/ThemeTemplate/SelectTemplate',
				type: 'post',
				data: { id: id },
				dataType: 'json',
				success: function (data) {
					if (data.code >= 1) {
						window.location.href = window.location.href;
						showMessage(data.message, 1);
					} else {
						showMessage(data.message, -1);
					}
				}
			});
		}

	</script>
	@RenderSection("body", false)
</body>
</html>