@using WebUI.Areas.Admin.Models.Common
@using WebUI.Extensions
@using Core
@using Domain.Entities
@{
	Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";

	Sys_Menu currentSysMenu = ViewContext.RouteData.GetSysMenuByRoute();
	ViewBag.CurrentSysMenu = currentSysMenu;
	if (ViewBag.PageHeader == null)
	{
		ViewBag.PageHeader = currentSysMenu?.Name ?? "";
	}
	if (ViewBag.PageHeaderDescription == null)
	{
		ViewBag.PageHeaderDescription = currentSysMenu?.Name ?? "";
	}
	if (ViewBag.BreadcrumbList == null)
	{
		IList<BreadcrumbItem> breadcrumbList = new List<BreadcrumbItem>();
		Sys_Menu menu = currentSysMenu;
		while (menu != null)
		{
			breadcrumbList.Insert(0, new BreadcrumbItem(menu.Name));
			// 循环(递归)查找父级菜单
			menu = menu.Parent;
		}
		ViewBag.BreadcrumbList = breadcrumbList;
	}
}

@section head {
	@RenderSection("head", false)
}
@section body {
	@RenderSection("body", false)
}

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		@ViewBag.PageHeader
		<small>@ViewBag.PageHeaderDescription</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="@Url.Action("Index", "Home", new { area = "Admin" })"><i class="fa fa-dashboard"></i> Home</a></li>
		@foreach (BreadcrumbItem item in ViewBag.BreadcrumbList)
		{
			@item.GenerateHtmlTag()
		}
	</ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
	@RenderBody()
</section>
<!-- /.content -->
