@using Domain
@using Framework.Models
@model CurrentAccountModel
@{
	Layout = "~/templates/bilibili/Views/Shared/_Layout.cshtml";

	UserInfo currentUserInfo = Model.UserInfo;
	IList<Article> articleList = ViewBag.ArticleList;
	articleList = articleList.OrderByDescending(m => m.LastUpdateTime).Take(5).ToList();
}


<div class="bili-wrapper">
	<div id="home_popularize" class="popularize-module report-wrap-module report-scroll-module clearfix"
		 scrollshow="true">
		<div class="l-con">
			<div class="headline clearfix">
				<i class="icon icon_t icon-promote"></i><span class="name">通知</span>
				<a href="https://www.bilibili.com/blackboard/shizhongyouni2019.html" target="_blank" class="fire">
					毕业啦！
				</a>
				<a href="https://www.bilibili.com/blackboard/activity-zzUuaEaMR.html" target="_blank" class="fire">
					我们的4年
				</a>
			</div>
			<div class="storey-box clearfix">
				<!---->
				<div class="spread-server-split-start" style="display:none"></div>
				@foreach (var item in articleList)
				{
					<div data-id="@item.ID" data-loc-id="@item.ID" class="spread-module">
						<a href="@item.CustomUrl" target="_blank">
							<div class="pic">
								<img src="/templates/bilibili/content/images/main/video.jpg"
									 alt="@item.Title" width="160" height="100">
								<div class="cover-preview-module">
									<!---->
									<div class="progress-bar">
										<span style="width: 0%;"></span>
									</div>
								</div>
								<div class="mask-video"></div>
								<div class="danmu-module"></div>
								<span class="dur">@item.Content.Length</span><!----><!---->
								<div class="watch-later-trigger w-later"></div>
							</div>
							<p title="@item.Title" class="t">@item.Title</p>
						</a>
					</div>
				}
				<div class="spread-server-split-end" style="display:none"></div>
			</div>
		</div>
		<div class="r-con">
			<div class="online">
				<a href="//www.bilibili.com/video/online.html" target="_blank" title="在线观看：3094215">在线人数：2364746</a><em></em><a href="//www.bilibili.com/newlist.html" target="_blank">最新投稿：17726</a>
			</div>
			<div data-id="308103" data-loc-id="29" class="adpos">
				<a target="_blank"
				   href="https://www.bilibili.com/read/cv2890851"
				   data-target-url="https://www.bilibili.com/read/cv2890851">
					<img src="//i0.hdslb.com/bfs/archive/c854d3d5214d26701ee5f6abd33c49fc32fdbfd4.jpg" alt="" width="260"
						 height="150" class="pic"><!---->
				</a>
			</div>
		</div>
	</div>
</div>