@using WebUI.Areas.Admin.Models.DashboardVM
@model IndexTwoViewModel
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminContent.cshtml";
}

@section head{

}
@section body{
	<script>
		$(function () {
			loadCpuMemory();
			setInterval(loadCpuMemory, 2000);
		});

		function loadCpuMemory() {
			$.ajax({
				url: "/Admin/Dashboard/CpuMemory",
				type: "get",
				dataType: "json",
				success: function (data) {
					if (data.code > 0) {
						var info = data.data;
						$("#js-cpu").html(info.cpu);
						$("#js-memory").html(info.memory);
						$("#js-serverSessionTotal").html(info.serverSessionTotal);
						$("#js-serverRunTime").html(info.serverRunTime);
					}
				}
			});
		}
	</script>
}

<!-- Info boxes -->
<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">CPU 使用率</span>
				<span class="info-box-number"><span id="js-cpu">0</span><small>%</small></span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">内存 使用率</span>
				<span class="info-box-number"><span id="js-memory">0</span><small>M</small></span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
	<!-- fix for small devices only -->
	<div class="clearfix visible-sm-block"></div>

	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">CPU 数量</span>
				<span class="info-box-number">@Model.CpuNum</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">磁盘IO</span>
				<span class="info-box-number">2,000</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
	<div class="col-xs-12">
		<section class="invoice">
			<!-- title row -->
			<div class="row">
				<div class="col-xs-12">
					<h2 class="page-header">
						<i class="fa fa-globe"></i> <span style="font-size: 65%;">系统：@Model.ServerVer</span>
						<small class="pull-right">已不间断运行(启动到现在已运行)：<span id="js-serverRunTime">0</span></small>
					</h2>
				</div>
				<!-- /.col -->
			</div>
			<!-- info row -->
			<div class="row invoice-info">
				<div class="col-sm-4 invoice-col">
					<address>
						<b>服务器脚本执行超时：</b>@Model.ServerOutTime<br>
						<b>服务器IP：</b>@Model.ServerIp<br>
					</address>
				</div>
				<!-- /.col -->
				<div class="col-sm-4 invoice-col">
					<address>
						<b>IIS版本：</b>@Model.IISVer<br>
						<b>.NET版本：</b>@Model.NetVer<br>
					</address>
				</div>
				<!-- /.col -->
				<div class="col-sm-4 invoice-col">
					<b>服务器Session总数：</b><span id="js-serverSessionTotal">0</span><br>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</section>
	</div>
</div>

<!-- Main content -->
